header {
  text-align: center;
  font-size: 8.2vmin;
  margin-top: .2em;
  font-family: 'Baloo', cursive;
}

.post-show {
  /*text-align: center;*/
  /*border: 2px solid orange;*/
}

.submit-button {
  border: 2px solid red;
}


.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}


.suggestions {
  /*border: 2px solid orange;*/
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.2vmin;
  font-family: 'Raleway', sans-serif;
  font-family: 'Dosis', sans-serif;
}

.upvotes {
  font-size: 4.2vmin;
  color: #F0525C;
}


.suggestion {
  text-align: center;
  width: 60%;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Dosis', sans-serif;*/
}
